<ion-view view-title="Transactions">
  <ion-content class="padding">
    <div class="list">
      <div class="card txns" ng-repeat="txn in txns">
        <div class="item item-divider row" ng-click="showDiv = !showDiv">
          <i class="approvalStatus" ng-class="{'ion-ios-checkmark-empty': txn.approved, 'ion-ios-close-empty': !txn.approved}"></i>
          <div class="date col">{{txn.date}}</div>
          <div class="description col">{{txn.description}}</div>
          <div class="amount col">${{txn.amount}}</div>
        </div>
        <div ng-show="showDiv || $first" class="item item-text-wrap">
          {{txn.details}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
