<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <div class="list list-inset">
        <div class="item item-divider" ng-click="showConciergeCard = !showConciergeCard">
          Card for Concierge Fee
        </div>
        <label class="item item-input" ng-show="showConciergeCard">
          <input type="text" placeholder="Card Number">
        </label>
        <label class="item item-input" ng-show="showConciergeCard">
          <input type="text" placeholder="Cardholder Name">
          <input type="text" placeholder="ZIP Code">
        </label>
        <label class="item item-input" ng-show="showConciergeCard">
          <input type="text" placeholder="Expiry" value="">
          <input type="text" placeholder="Security Code">
        </label>
        <button class="button button-full button-positive" id="save" ng-show="showConciergeCard">
          Save Card
        </button>
      </div>
      <div class="list list-inset">
        <div class="item item-divider" ng-click="showPurchasingCard = !showPurchasingCard">
          Card for Purchases
        </div>
        <label class="item item-input" ng-show="showPurchasingCard">
          <input type="text" placeholder="Card Number" ng-model="ng">
        </label>
        <label class="item item-input" ng-show="showPurchasingCard">
          <input type="text" placeholder="Cardholder Name">
          <input type="text" placeholder="ZIP Code">
        </label>
        <label class="item item-input" ng-show="showPurchasingCard">
          <input type="text" placeholder="Expiry">
          <input type="text" placeholder="Security Code">
        </label>
        <button class="button button-full button-positive" id="save" ng-show="showPurchasingCard">
          Save Card
        </button>
      </div>
      <div class="card">
        <div class="item item-divider">
          Require approval
        </div>
        <div class="item item-text-wrap">
          <div class="item range range-positive">
            <span>Always</span>
            <input type="range" min="0" max="1025" step="25" list="steplist" ng-model="approvalThresholdAmount">
            <span>Never</span>
          </div>
        </div>
        <div class="item item-divider" ng-show="approvalThresholdAmount > 0 && approvalThresholdAmount < 1025">
          when amount is over ${{approvalThresholdAmount}}
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
