<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <div class="card">
        <div class="item item-divider">
          Require approval
        </div>
        <div class="item item-text-wrap">
          <div class="item range range-positive">
            <span class="rangeWord" ng-class="{highlighted: approvalThresholdAmount == 0}">Always</span>
            <input type="range" min="0" max="1025" step="25" list="steplist" ng-model="approvalThresholdAmount">
            <span class="rangeWord" ng-class="{highlighted: approvalThresholdAmount == 1025}">Never</span>
          </div>
        </div>
        <div class="item item-divider" ng-show="approvalThresholdAmount > 0 && approvalThresholdAmount < 1025">
          when amount is over ${{approvalThresholdAmount}}
        </div>
      </div>

      <div class="card" ng-repeat="card in cards">
        <div class="item item-divider" ng-click="showCard = !showCard">
          <i class="ion-card creditcard"></i> {{card.title}}
        </div>
        <label class="item item-input" ng-show="showCard">
          <input type="text" placeholder="Card Number" ng-model="card.number">
        </label>
        <label class="item item-input" ng-show="showCard">
          <input type="text" placeholder="Cardholder Name" ng-model="card.name">
          <input type="text" placeholder="ZIP Code" ng-model="card.zip">
        </label>
        <label class="item item-input" ng-show="showCard">
          <input type="text" placeholder="Expiry" ng-model="card.expiry">
          <input type="text" placeholder="Security Code" ng-model="card.security">
        </label>
        <button class="button button-full button-positive" id="save" ng-show="showCard">
          Save Card
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
