/* Empty. Add your own CSS if you like */
.date {
  color: grey;
}

.description {
}

.amount {
}

.txns {
  margin: 0px 0;
}

.txn {
  margin: 10px 0;
}

.cccard {
  border: blue;
}

#save {
  margin-top: 0px;
}

#deny {
  margin-left: 10px;
}

.approvalStatus {
  margin-top: 0.5vh;
  font-size: 25px;
  margin-right: 10px;
}

.creditcard {
  color: rgb(56, 126, 245);
  font-size: 23px;
  vertical-align: text-top;
}
