/* Empty. Add your own CSS if you like */
.date {
  color: grey;
}

.description {
}

.amount {
}

.txns {
  margin: 0px 0;
}

.txn {
  margin: 10px 0;
}

.cccard {
  border: blue;
}

#save {
  margin-top: 0px;
}

#deny {
  margin-left: 10px;
}
