/* Empty. Add your own CSS if you like */
.date {
  color: grey;
}

.description {
}

.amount {
}

.txns {
  margin: 8px 0;
}

.txn {
  /*margin: 10px 0;*/
  /*margin: 4px 0;*/
}

.cccard {
  border: blue;
}

#save {
  margin-top: 1px;
  margin-bottom: -1px;
}

#deny {
  margin-left: 10px;
}

.highlighted {
  color: rgb(56, 126, 245);
}

.approvalStatus {
  margin-top: 0.5vh;
  font-size: 25px;
  margin-right: 10px;
}

.approved {
  color: rgb(56, 126, 245);
}

.creditcard {
  color: rgb(56, 126, 245);
  font-size: 23px;
  vertical-align: text-top;
}

.rotate {
  margin-top: 10px;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.blue {
  color: rgb(56, 126, 245);
}

.splash {
  background: url('../img/old-woman-on-phone.jpg') no-repeat center center fixed;
  background-size: cover;
}
